/* Login page */

body{
    position: static;
    width: 100%;
    height: 100%;

    background: #45ADA8;

    /* Inside auto layout */

    flex: none;
    order: 4;
    flex-grow: 0;
    margin: 0px 0px;

    overflow: hidden;
}

.empWelcome{
    /* Welcome Employee */
    position: absolute;
    width: 600px;
    height: 160px;
    left: 350px;
    top: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 145px;
    text-align: center;
    -webkit-text-stroke: .5px white;

    color: rgba(0, 0, 0, 0.25);
}

.plsLog{
    /* Please enter your login information */
    position: absolute;
    width: 700px;
    height: 80px;
    left: 300px;
    top: 160px;

    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 25px;
    line-height: 56px;
    text-align: center;

    color: #FFFFFF;
}

.usernameTxt{
    /* Username: */
    position: absolute;
    width: 212px;
    height: 64px;
    left: 200px;
    top: 240px;

    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 25px;
    line-height: 56px;
    text-align: center;

    color: #FFFFFF;
}

.usernameBox{
    /* User Rect */
    position: absolute;
    width: 500px;
    height: 35px;
    left: 400px;
    top: 275px;

    background: #9DE0AD;
    border: 1px solid rgba(0, 0, 0, 0.75);
    box-sizing: border-box;
}

.passwordTxt{
    /* Password: */
    position: absolute;
    width: 212px;
    height: 64px;
    left: 200px;
    top: 300px;

    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 25px;
    line-height: 56px;
    text-align: center;

    color: #FFFFFF;
}

.passwordBox{
    /* password Rect */
    position: absolute;
    width: 500px;
    height: 35px;
    left: 400px;
    top: 335px;

    background: #9DE0AD;
    border: 1px solid rgba(0, 0, 0, 0.75);
    box-sizing: border-box;
}

.loginBox{
    /* Log in Rect */
    position: absolute;
    width: 200px;
    height: 80px;
    left: 545px;
    top: 430px;

    background: #547980;
}

.loginTxt{
    /* LOG IN */
    position: absolute;
    width: 198px;
    height: 78px;
    left: 545px;
    top: 400px;

    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    line-height: 70px;
    text-align: center;

    color: #9DE0AD;

    border: 1px solid #E5FCC2;
}

.topLeftCircle{
    /* Ellipse 18 */
    position: absolute;
    width: 150px;
    height: 150px;
    left: 110px;
    top: 75px;
    border-radius: 50%;

    background: rgba(229, 252, 194, 0.25);
}

.topRightCircle{
    /* Upper Right Corner */
    position: absolute;
    width: 225px;
    height: 225px;
    left: 1100px;
    top: -49px;
    border-radius: 50%;

    background: rgba(229, 252, 194, 0.78);
}

.bottomRightCircle{
    /* Lower Right Corner */
    position: absolute;
    width: 414px;
    height: 414px;
    left: 900px;
    top: 400px;
    border-radius: 50%;

    background: rgba(229, 252, 194, 0.3);
}

img{
    /* Robot Laptop 1 */
    position: absolute;
    width: 150px;
    height: 150px;
    left: 110px;
    top: 75px;
}